/* HEADER */


.header {
  height: 108px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80;
}

.left {
  display: flex;
  flex-direction: row;
}

.tabs {
  align-items: flex-end;
  display: flex;
}

.tabsPosition {
  bottom: 0;

}

.logo {
  height: 70.4px;
  width: 80px;
  margin: 16px;
}

.welcome {
  height: 210px;
  width: 100%;
  left: 0;
  right: 0;
}

.ProfileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.UserName {
  margin: 5px;
  font-weight: bold;
}

.ProfileMenu {
  position: absolute;
  right: 0;
  margin-right: 39px;
  margin-top: 70px;
  width: 200px
}

.headerTitle {
  font-size: 27px;
  margin-top: 33px;
  color: #A9A9A9;
}



/*  HOME  */
.home {
  background-color: #f1f1f0;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 70px;
}

.titleText {
  color: #15385f;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0 0 0.5rem;
  letter-spacing: -0.44px;
}

.subTitleText {
  color: #15385f;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}


.trails {
  margin-top: 18px;
  margin-left: 16px;
  margin-right: 16px;
}

.headerTrails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.addButton {
  background-color: #006400;
  border-color: #006400;
  margin-bottom: 10px;
  padding-right: 45px;
  padding-left: 45px;
  height: 40px;
}

.titleTrails {
  display: flex;
  align-self: flex-end;
  color: #191970;
  font-size: 16px;
  font-weight: bold;
}

.addSection {
  display: flex;
  flex-direction: column;
}

.addTrailMenu {
  position: absolute;
  right: 0;
  margin-right: 16px;
  margin-top: 50px;
  width: 210px;
}

.rowTable {
  height: 40px;
  display: flex;
  align-items: center;
}

.trailImage {
  margin-right: 5px;
}

/* EDIT TRIALS */


.editTrials {
    background-color: #3E7F8E;
    padding-left: 120px;
    padding-right: 120px;
}

.editHeaderSection1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

.trialTextTitle {
  color: #fff;
  opacity: 0.5;
}

.circle_border {
  height: 90px;
  width: 90px;
  border-style: dashed;
  border-color: #fff;
  border-width: 5;
}

.circle {
  height: 90px;
  width: 90px;
}

.inputTrialTitle {
  font-size: 30px;
  background-color: transparent;
  border-color: transparent;
  color: #F0FFFF;
}

.inputTrialTitle::placeholder{
  font-size: 30px;
  color: #A9A9A9;
}

.inputTrialDescription{
  font-size: 20px;
  font-weight: lighter;
  color: #F0FFFF;
  background-color: transparent;
  border-color: transparent;
}

.inputTrialDescription::placeholder{
  font-size: 20px;
  color: #A9A9A9;
  font-weight: lighter;
}

.inputURLImage {
  background-color: transparent;
  border-color: transparent;
}

.editTrailMenu {
  position: absolute;
  margin-top: 110px;
  margin-left: 15px;
  width: 210px;
  display: flex;
  justify-content: center;
}

.trialDataInput {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.inputsSectionData {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-around;
  width: 400px;
}

.trailButtons {
  background-color: #2E8B57;
  border-color: #2E8B57;
  color: #fff;
  margin: 4px;
  border-radius: 30px;
  box-shadow: 1px 1px black;
}

.addModuleButtonContainer {
  top: 50px;
  left: 200px;
  position: relative;
}

.addModuleButton {
  color: black;
  font-weight: 550;
}

.EditTrialOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.OptionTrailTitle {
  color: #fff;
  font-weight: lighter;
  margin-bottom: 5px;
}

.dropdownbutton {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1px;
  padding-left: 5px;
  background-color: #ADD8E6;
  opacity: 0.8;
  color: #000;
}

.menu {
  width: 200px;
}

.EditTrailOption {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3px;
}

.addTrial {
  margin-bottom: 15px;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: lighter;
}

.addIcon {
  margin-right: 5px;
}

.labelURLImage {
  font-weight: bold;
  text-align: center;
}

.inputURLImage {

}

/* Utilities */

.simpleDropDownbutton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.TrailMenu {
  position: absolute;
  right: 0;
  margin-right: 16px;
  margin-top: 14px;
  width: 210px;
}

.itemDynamicMenu {
  margin: 10px;
}
